.color-palette-img {
  max-width: 100%;
  padding: 1rem;
  margin: 0.5rem;
}

.color_left {
  flex: 1;
}

.color_right {
  flex: 1;
  padding: 0.5rem;
  margin: 1rem;
}

.color-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #c5c5c5;
  padding: 0.6rem;
  margin: 0.6rem;
}

.visual_color {
  padding-bottom: 2rem;
}

.color_text {
  text-align: center;
}

img.color-palette-img {
  width: 320px;
  padding: 0.6rem;
  margin: 0.3rem;
}

footer {
  padding: 5rem;
  text-align: center;
  color: #63bea2;
  letter-spacing: 0.2rem;
}
