

p {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  margin: 20px;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  margin: 20px;
}
img {
  max-width: 100%;
  padding: 10px;
  margin: 5px;
}
.color {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-right: 20px;
}

.color_left {
  flex: 1;
}

.color_right {
  flex: 1;
}

.color-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #c5c5c5;
  padding: 10px;
  margin: 10px;
}

img.color-palette-img {
  width: 320px;
}

footer {
  padding: 5rem;
  text-align: center;
  color: #63bea2;
  letter-spacing: 0.2rem;
}