main p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }
  
  div.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
  }
  
  .icon-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .icon-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
    border-bottom: 1px solid #c5c5c5;
  }
  
  .icon-item img {
    width: 100px;
    height: 100px;
    margin-right: 1em;
  }
  
  .icon-item p {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
  }
  .others h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }
  .others-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 0;
  }
  .others-icon .img {
    width: 50%;
    height: 100px;
  }

  .others p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }

  